	<div class="navbar-fixed-bottom row-fluid">
		      <div class="navbar-inner">
		          <div class="container footer">
			         
							<div class="row">
								<div class="col-md-4">hello@lab-iv.ru</div>
								<div class="col-md-4"></div>
								<div class="col-md-4">
									<div class="icons">
										<a href="https://vk.com/club115145414" target="_blank"><img src="img/vk.png"></a>
										<a href="#" target="_blank"><img src="img/twitter.png"></a>
										<a href="https://www.youtube.com/user/jskLearning/videos" target="_blank"><img src="img/youtube.png"></a>
									</div>
								</div>
							</div>
					
				</div></div></div>

	