
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700' rel='stylesheet' type='text/css'>
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="css/reset.css"> <!-- CSS reset -->
	<link rel="stylesheet" href="css/style.css"> <!-- Resource style -->
	
	<script src="js/modernizr.js"></script> <!-- Modernizr -->

	<link rel="prefetch" href="img/girl.gif" />
	<link rel="prefetch" href="img/guy.gif" />
	<link rel="prefetch" href="img/robot.gif" />
	<link rel="prefetch" href="img/item1.jpg" />
	<link rel="prefetch" href="img/item2.jpg" />
	<link rel="prefetch" href="img/item3.jpg" />
	<link rel="prefetch" href="img/item4.jpg" />
  	
	<title>Лаборатория робототехники и трехмерной печати</title>
</head>