<nav>
	<div class="cd-primary-nav">
	
	<div class="row">

		<div class="col-md-7">
		<header>
	<div class="cd-logo">
		<div class="row">
			<div class="col-md-12">Лаборатория робототехники и трехмерной печати</div>
		</div>
	</div>
	</header>
		<div class="items">
		<ul>
			<li><a href="about.html" rel="p1">01 О нас</a></li>
			<li><a href="#0" rel="p2">02 Направления обучения и расписание</a></li>
			<li><a href="#0" rel="p3">03 Наши проекты</a></li>
			<li><a href="#0" rel="p4">04 Преподаватели</a></li>
			<li><a href="#0" rel="p5">05 Контакты</a></li>
		</ul>
		</div>
		<div class="navbar-fixed-bottom row-fluid" id="menuFooter">
		      <div class="navbar-inner">
		          <div class="container footer">
			         
							<div class="row">
								<div class="col-md-3">hello@lab-iv.ru</div>
								<div class="col-md-3">+7 (987) 998-00-00</div>
								<div class="col-md-6" style="text-align:right">г. Иваново, Шереметевский пр-т, 7</div>
							</div>
				</div>
			</div>
		</div>
		</div>
		<div class="col-md-5">
			<div id="pic"></div>
		</div>
	</div>
		
	</div>
	</nav>