{% include head.html %} 

<body>

	
	

	{% include navigation.html %} 	

	<!-- <main class="cd-content"> -->
		<!-- your content here -->
		<div class="container page">
		<div class="row page">
			<div class="col-md-7">

			<div class="pg-logo">
				<div class="row">
					<div class="col-md-12">Лаборатория робототехники и трехмерной печати</div>
				</div>
			</div>
					<div class="pg-main-text justify">
					<h3>К списку проектов</h3>
					<h1>О НАС</h1>
				
					<p>
					Лаборатория Робототехники — центр молодежного и детского технического творчества. Программа лаборатории состоит из дисциплин, поэтапно ведущих к созданию автономных робототехнических систем. Среди курсов присутствуют занятия по конструированию роботов на базе готовых конструкторов (таких, как Lego, Fischertechnik), занятия по 3D-проектированию и 3D-печати, аналоговой и цифровой электронике, программированию.
					</p>
					<p>Лаборатория позволяет детям с самого юного возраста окунуться в ту деятельность, которая обычно доступна людям только после окончания школы или даже университета. Применяя специальную образовательную методику, которая объясняет серьезные концепции на простых практических задачах, мы обучаем сложным вещам ранее, чем это обычно принято, стараясь не упускать теоретическую составляющую. Таким образом, дети в лаборатории робототехники начинают строить свои первые 3D-модели и работать с 3D-принтерами уже в 3–4 классах. В 5–6 классе дети строят своих первых роботов не только на базе готовых конструкторов, но и создают новые детали самостоятельно с помощью 3D-проектирования и 3D-печати. Начиная с 7-го класса изучают серьезное программирование, задействуя при этом актуальные современные концепции и подходы.
					</p>
					<p>Такой быстрый старт позволяет еще до поступления в ВУЗ попробовать себя в различных областях — 3D-дизайне и 3D-проектировании, создании радиоэлектронных устройств, программировании и тому подобном — и поступать в ВУЗ, выбрав специальность, будущую профессию сознательно. Как правило, такие студенты сильно выделяются на фоне тех, кто не имел предварительной подготовки: они знают, чего хотят, и обладают мощным фундаментом 
					</p>
					<div class="btn-block">
						<button class="m-btn-left">Оставить заявку</button>
					</div>
					
					</div>
			</div>
  			<div class="col-md-5">
  				<div class="pg-pic"></div>
  				
  			</div>
  			</div>
  		</div>
		
		
			
	<!-- </main>  --><!-- cd-content -->


	{% include footer-scr.html %}

</body>
