{% include head.html %} 

<body>

	
	{% include header.html %} 

	{% include navigation.html %} 	

	<!-- <main class="cd-content"> -->
		<!-- your content here -->
		<div class="container">
		<div class="row main">
			<div class="col-md-6 vertical-center">
					<div class="main-text">
					<h3>Создаем будущее вместе</h3>
					<h1>Лаборатория робототехники и трехмерной печати</h1>
				
					<p>
					Наша лаборатория создана на базе <a href="http://isuct.ru" target="_blank">Ивановского Государственного Химико-Технологического университета</a> и предоставляет возможность школьникам и студентам освоить такие направления как робототехника, трехмерная печать и программирование.
					</p>
					<div class="btn-block">
						<button class="m-btn-left">Записаться на занятие</button>
						<button class="m-btn-right">Посмотреть проекты</button>
					</div>
					</div>
			</div>
  			<div class="col-md-6 vertical-center">
  				<div class="animation" ><img id="gif" src="img/girl.gif"></div>
  				
  			</div>
  			</div>
  		</div>
		
		
			
	<!-- </main>  --><!-- cd-content -->


	{% include footer.html %}

	{% include footer-scr.html %}

</body>
